USE [master]
GO
/****** Object:  Database [wiredelta]    Script Date: 04/18/2016 11:55:18 ******/
CREATE DATABASE [wiredelta] ON  PRIMARY 
( NAME = N'wiredelta', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\wiredelta.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'wiredelta_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\wiredelta_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [wiredelta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [wiredelta]
GO
/****** Object:  Table [dbo].[tbl_task]    Script Date: 04/18/2016 11:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_task](
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Sub] [varchar](50) NULL,
	[Msg] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
