<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ap" connectionString="data source=CHAHAL-PC\SQLEXPRESS; initial catalog=wiredelta; integrated security= true;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>